
.campaign-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #232222;
    border-radius: 10px;
    color: #fff;
    text-align: center;
  }
  
  .campaign-form-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .campaign-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .campaign-form-container div {
    margin-bottom: 15px;
  }
  
  .campaign-form-container label {
    margin-bottom: 5px;
    display: flex;
  }
  
  .campaign-form-container input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
  }

  .campaign-form-container select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; 
    font-size: 14px;
    color: #333;
  }
  
  .campaign-form-container button {
    background-color: #a2a6ab;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  
  .campaign-form-container button:hover {
    background-color: #2f2f30;
  }
  