body {
    background-image: url('https://wallpaperaccess.com/full/84248.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
  .calendar {
   height: 600px; 
   background-color: transparent;
   overflow: auto; 
   position: relative;
   margin-top: 1000px;
   margin-bottom: 1000px;
  }
  .rbc-calendar {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    box-shadow: 0 2px 4px #afacac1a;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    backdrop-filter: blur(10px); 
   
}

  
 
  .rbc-event {
    background-color: #2a2e36; 
    color: #f0e8e8;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 14px;
  }
  
 
  .rbc-tooltip {
    background-color: #2a2626; 
    color: #4c4545;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(210, 207, 207, 0.2);
    padding: 8px;
    font-size: 12px;
  }
  
  
  .rbc-overlay {
    &::before {
      border-top-color: #333; 
    }
  }
  
  
  .rbc-today {
    background-color: #7a7070; 
    color: #333;
    border-radius: 5%;
    font-weight: bold;
  }
  
  .rbc-btn-group {
    button {
      background-color: #333; 
      color: #333;
      border: none;
      border-radius: 5px;
      margin: 2px;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 14px;
  
      &:hover {
        background-color: #0056b3; 
      }
    }
  }
  
 
  .rbc-header {
    font-weight: bold;
  }
  

  .rbc-date-cell {
    font-size: 14px;
  }
  

  .rbc-current-time-indicator {
    background-color: #ff4646; 
    height: 2px;
  }
  
 
  @media (max-width: 768px) {
    .rbc-calendar {
      margin: 10px;
      padding: 10px;
      font-size: 12px;
    }
  
    .rbc-btn-group {
      button {
        font-size: 12px;
      }
    }
  }
  