.volunteer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.volunteer-table th,
.volunteer-table td {
    padding: 8px 12px;
    border: 1px solid #ccc;
}

.volunteer-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: left;
}
.volunteer-table caption{
    font-weight: bold;
    color: aliceblue;
}
.volunteer-table button{
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4CAF50; 
        color: rgb(151, 129, 129);
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s; 
      }
      
      .volunteer-table button:hover {
        background-color: #343f34; 
      }

.volunteer-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.volunteer-table tbody tr:hover {
    background-color: #e0e0e0;
}


@media only screen and (max-width: 600px) {
    .volunteer-table th,
    .volunteer-table td {
        font-size: 14px; 
        padding: 6px 8px; 
    }
}
