
.vcounta-cont {
    background-color: #fff;
    border: 2px solid #9f9797;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    background-color: rgb(77, 73, 73);
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
    margin-left:500px ;
    gap: 50px;
  }
  
  .vcounta-cont:hover {
    transform: scale(1.01);
  }
  
  .vcounta-cont h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #e0e0e0;
  }
  
  .vcounta-cont p {
    margin: 10px 0;
    color: #e0e0e0;
  }
  
  
  @media only screen and (max-width: 600px) {
    .vcounta-cont {
      padding: 15px; 
    }
  
    .vcounta-cont h2 {
      font-size: 18px; 
    }
  }
  